pyrofork
gallery-dl
yt-dlp
uvloop
aiofiles
cryptg
tgcrypto
requests
apscheduler
beautifulsoup4
streamlink
python-dotenv
aiohttp
instagrapi
Pillow
brotli
brotlicffi
aiograpi
mutagen
aria2p
psutil
ffmpeg-python
curl-cffi
python-telegram-bot
PySocks